<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p><b> your email is verified congratulation now you can click on this link to go on Login page </b><a href="https://gossip-api.herokuapp.com/login">LOGIN_PAGE</a>  </p>
</body>
</html>